$font-stack: Helvetica, sans-serif;
$main-grey: #404040;
$main-pink: #F30C74;
$main-orange: #F28A4B;
$main-blue: #4598D3;

body {
  font-family: $font-stack;
  font-size: 1rem;
}

h1 {
  color: $main-pink;
  font-size: 2rem;
  font-weight: 300;
}

p {
  color: $main-grey;
}
